.board {
  display: grid;
  grid-template-columns: repeat(var(--num-columns, 6), 1fr);
  grid-template-rows: 3rem repeat(var(--num-rows, 5), 1fr);
  width: 80vw;
  height: 80vh;
  padding: 1rem;
  gap: 10px;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0;
  position: relative;
}

.board::-webkit-scrollbar {
  display: none;
}

.board-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.board-button.clicked {
  background-color: var(--button-active);
  color: var(--text-secondary);
  cursor: default;
  transform: scale(0.95);
  opacity: 0.5;
  filter: brightness(0.8);
}

.board-button.recentlyClicked {
  border: 2px solid var(--action-shadow);
  color: var(--text-color);
}

.board-button.animate {
  animation: expand-retract .5s ease-in-out;
}

@keyframes expand-retract {
  0% {
    transform: scale(1);
    background-color: white;
  }

  50% {
    transform: scale(1.2);
    background-color: var(--button-hover);
  }

  100% {
    transform: scale(1);
    background-color: white;
  }
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.category input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

@media (min-width: 768px) {
  .board {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .board {
    overflow-x: scroll;
  }
}