.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 80vw;
  height: 80vh;
  padding: 1rem;
  gap: 10px;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0;
  position: relative;
}

.board::-webkit-scrollbar {
  display: none;
}

.board-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}

.board-button.clicked {
  background-color: #f1f1f1;
  color: #ffffff;
  cursor: default;
  transform: scale(0.98);
  opacity: 0.7;
}

.board-button.recentlyClicked {
  border: 2px solid #005ec250;
  color: #4f4f4f
}

.board-button.animate {
  animation: expand-retract .5s ease-in-out;
}

@keyframes expand-retract {
  0% {
    transform: scale(1);
    background-color: white;
  }

  50% {
    transform: scale(1.2);
    background-color: #f1f1f1;
  }

  100% {
    transform: scale(1);
    background-color: white;
  }
}

@media (min-width: 768px) {
  .board {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .board {
    overflow-x: scroll;
  }
}