.scorecard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  height: 100%;
  flex: 1;
  margin: 0;
  min-width: 0;
  box-shadow: rgba(0, 0, 0, .1) 2px 2px 2px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.score-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
}

.scorecard.active {
  transform: scale(1.05);
  box-shadow: #005ec248 0px -2px 4px 4px;
}

.scorecard input {
  border: none;
  border-radius: 5px;
  color: #3a3a3a;
  width: 100%;
  height: 100%;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  overflow: hidden;
  box-sizing: border-box;
}

.team-name-input {
  flex: 0.5;
}

.scorecard h1 {
  margin: 0;
}

.scorecard h4 {
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  /* padding-top: 1rem; */
  margin: 0rem;
  margin-top: 1rem;
}


.scorecard button {
  border: none;
  font-size: calc(0.5rem + 0.5vw);
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}

.scorecard button:first-of-type {
  background-color: rgb(99, 216, 105);
  color: white;
}

.scorecard button:last-of-type {
  background-color: #ff4d4d;
  color: white;
}

.scorecard.no-controls {
  box-sizing: border-box;
  justify-content: space-around;
}

.scorecard.no-controls h1 {
  font-size: 5.5rem;
  padding-bottom: 2rem;
}

.scorecard.no-controls input {
  font-size: 1.8rem;
}

.scorecard.no-controls h4 {
  font-size: 2.0rem;
  margin: 0rem;
}


@media (max-width: 767px) {
  .scorecard {
    margin-left: 0.05rem;
    margin-right: 0.05rem;
  }
}
